@model List<ClienteViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <!-- Contenido del div -->
    <div class="row">
        <div>
            <h2>Clientes</h2>
            <a class="btn btn-primary" href='@Url.Action("Add", "Home")''>Agregar ➕</a>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Ciudad</th>
                    <th scope="col">Pais</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var cliente in Model)
                {
                    <tr>
                        <th scope="row">@cliente.Id</th>
                        <td>@cliente.Nombre</td>
                        <td>@cliente.Ciudad</td>
                        <td>@cliente.Pais</td>
                        @* <td><a class="btn btn-danger" href='@Url.Action("Delete", "Home", new { Id = item.Id })'>Eliminar</a></td> *@ 
                        <td>
                            <button class="btn btn-danger" onclick="deleteItem(@cliente.Id)">Eliminar</button>
                        </td>
                    </tr>   
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    function deleteItem(itemId) {
        // Mostrar alerta de confirmación
        if (confirm("¿Estás seguro de que deseas eliminar este elemento?")) {
            // Usuario hizo clic en "Aceptar"
            $.ajax({
                url: '@Url.Action("Delete", "Home")',
                type: 'POST',
                data: { Id: itemId },
                success: function (response) {
                    if (response.success) {
                        console.log(response.message); // Mensaje de eliminación exitosa
                        // Realiza acciones adicionales si es necesario
                        location.reload(); // Recargar la vista
                    } else {
                        console.log(response.message); // Mensaje de error en la eliminación
                        // Maneja el error de acuerdo a tus necesidades
                    }
                },
                error: function (error) {
                    console.error('Error al eliminar el elemento:', error);
                    // Maneja el error de acuerdo a tus necesidades
                }
            });
        }
    }
</script>
